body
{
	margin: 0px;
	background: url("../images/arriere-plan.png");

}

/*-------------------------------------------header-------------------------------------------*/
header
{
	background: url("../images/header.png");
	margin: auto; 
	width: 70%;	
}
header h1
{
	margin: 0px;
	padding: 20px;
	color: white;
}
#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;

	display: flex;
	text-align:center;
	width: 100%;
	
 }
#menu li {

	width: 100%;
	float:left;
	margin:auto;
	padding:0;
	background-color:black;
 }
#menu li a {
	display:block;
	color:white;
	text-decoration:none;
	padding:5px;
}
#menu li a:hover {
	color:#BCDADA;
}
#menu ul li ul {
	display:none;
	width: 17.5%;
}
#menu ul li:hover ul {
	display:block;
}
#menu li:hover ul li {
	float:none;
}
#menu li ul {
	position:absolute;
}
/*-----------------------------------------Fin header-----------------------------------------*/

/*-------------------------------------- Corps de la page ------------------------------------*/

.contenu
{
	padding-top: 20px;
	padding-bottom: 20px; 
	width: 70%;
	margin: auto;
	background: url("../images/arriere-plan_section.png");

}
.contenu section
{
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background: url("../images/section.png");
	border-radius: 3px;
}

.contenu article
{
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	width: 70%;
	border-top: 1px solid grey;
		

}
.contenu article a
{
	color: white;
	text-decoration: none;
}
.contenu article:hover
{
	border: 1px solid grey;
	background-color: rgba(163,156,154,0.2);
}
article .titre
{
	display: flex;
	align-items: center;


}
article .titre img
{
	width: 100px;
	height: 100px;
	padding-right: 5%; 
}
/*----------------------------------- Fin corps de la page ------------------------------------*/
/*-------------------------------------- Footer de la page ------------------------------------*/
footer
{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: url("../images/header.png");
	color: white;
}

footer p
{
	margin: 0px;
}